.box{
    width:50%;
    border:2px solid black;
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
    margin-left: 400px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }