
<app-header></app-header>
<router-outlet> </router-outlet>


<!-- <app-form></app-form> -->
<!-- <app-form1></app-form1> -->
<!-- <app-form2></app-form2> -->
<!-- <app-form3></app-form3> -->
<!-- <app-form4></app-form4> -->
<!-- <app-form5></app-form5> -->
<!-- <p class="green-100">vineetha</p> -->
<!-- <app-formbuilder> </app-formbuilder> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent1></app-parent1> -->
<!-- <app-formbuilder1></app-formbuilder1> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-formtable></app-formtable> -->

