<table><tr><td>
    <p class="login">Registration Form</p>
    
<form action="">

        <span class="fn">Firstname:</span>
        <input id="float-input" type="text" pInputText ngModel  name="fname" #fn="ngModel"> <br><br>

        <span class="ln">Lastname:</span>
        <input id="float-input" type="text" pInputText ngModel  name="lname" #ln="ngModel"> <br><br>

        <span class="em">Email:</span>
        <input id="float-input" type="text" pInputText ngModel  name="email" #em="ngModel"> <br><br>

        <span class="ps">Password:</span>
        <p-password required pattern="[{A-Za-z}{0-9}]{8,12}" [toggleMask]="true" ngModel name="passwd" #ps="ngModel"></p-password><br><br>

        <span class="rps">Repeat Password:</span>
        <p-password required pattern="[{A-Za-z}{0-9}]{8,12}" [toggleMask]="true" ngModel name="passwd" #rps="ngModel"></p-password><br><br>
        <hr>

        <p class="signin1">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <button class="btn" pButton type="button" label="Register" (click)="show(fn,ln,em,ps,rps)"></button>
        
        <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
          </div>
        
   
</form>
</td></tr></table>