ul li{
    list-style: none;
}
ul li a{
    text-decoration: none
}
ul{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(118, 107, 107);
    height: 40px;
}
a{
    line-height: 40px;
    color: white;
    margin: 0px 20px;
    padding: 10px 10px;
}
.active{
    background-color: rgb(180, 129, 63);
}